In [1]:
import pandas as pd

In [2]:
#Playing 11 of Rajasthan Royals with their Batting Sequence
rr_team = ['Jos Buttler', 'Manan Vohra' , 'Sanju Samson' , 'David Miller' , 'Shivam Dube' , 'Riyan Parag' , 'Rahul Tewatia' , 'Chris Morris' , 'Shreyas Gopal' , 'Chetan Sakariya' , 'Mustafizur Rahman' ]

In [3]:
#Runs Scored by batsmen in sequence
rr_runs = [8 , 7 , 21 , 0 , 46 , 25 , 40 , 10 , 7 , 0 , 0]

In [4]:
#Balls Faced by RR batsmen
rr_balls = [8, 9 , 18 , 2 , 32 , 16 , 23 , 7 , 4 , 1 , 0]

In [5]:
#Strike rates Of Batsmen
rr_sr = [100 , 77.77 , 116.66 , 0 , 143.75 , 156.25 ,   173.91 , 142.85 , 175.00 , 0, 0 ]

In [6]:
# Creating DataFrame for RR Batting Scorecard
rr =  pd.DataFrame({'Players' : rr_team , 'Runs' : rr_runs , 'Balls' : rr_balls , 'SR' : rr_sr})

In [7]:
rr

              Players  Runs  Balls      SR
0         Jos Buttler     8      8  100.00
1         Manan Vohra     7      9   77.77
2        Sanju Samson    21     18  116.66
3        David Miller     0      2    0.00
4         Shivam Dube    46     32  143.75
5         Riyan Parag    25     16  156.25
6       Rahul Tewatia    40     23  173.91
7        Chris Morris    10      7  142.85
8       Shreyas Gopal     7      4  175.00
9     Chetan Sakariya     0      1    0.00
10  Mustafizur Rahman     0      0    0.00

In [8]:
#Taking a look at RR batsmen along with their individual strike rates.
#Accessing 2 or more columns , we use [[]] a double Square bracket with columns seperated by commas.

rr[['Players' , 'SR']]

              Players      SR
0         Jos Buttler  100.00
1         Manan Vohra   77.77
2        Sanju Samson  116.66
3        David Miller    0.00
4         Shivam Dube  143.75
5         Riyan Parag  156.25
6       Rahul Tewatia  173.91
7        Chris Morris  142.85
8       Shreyas Gopal  175.00
9     Chetan Sakariya    0.00
10  Mustafizur Rahman    0.00

In [9]:
#Accessing with dot notation.
rr.Players

0           Jos Buttler
1           Manan Vohra
2          Sanju Samson
3          David Miller
4           Shivam Dube
5           Riyan Parag
6         Rahul Tewatia
7          Chris Morris
8         Shreyas Gopal
9       Chetan Sakariya
10    Mustafizur Rahman
Name: Players, dtype: object

In [11]:
#Jos Buttler individual stats by giving a condition.
rr[(rr.Players == 'Jos Buttler')]

       Players  Runs  Balls     SR
0  Jos Buttler     8      8  100.0

In [12]:
#Another Condition to access Buttler's stats.
rr[(rr.Runs == 8)]

       Players  Runs  Balls     SR
0  Jos Buttler     8      8  100.0